.container{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
    .input {
        border-radius: 3px;
        border: 1px solid rgb(56, 56, 56);
        transition: 500ms;
        height: 35px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding-left: 10px;
        padding-right: 20px;
        &:focus{
            background-color: #f98d0029;
            border: 1px solid #573200;
            transform: scale(103%);
            transition: 500ms;
        }
        &__phone{
            width: 100%;
            height: 35px;
            margin-left: 10px;
            &:focus{
                background-color: #f98d0029;
                border: 1px solid #573200;
                transform: scale(103%);
                transition: 500ms;
            }
        }
        &__invalid {
            margin-top: 5px;
            margin-bottom: 5px;
            border-radius: 3px;
            height: 35px;
            background-color: #f9000029;
            border: 1px solid #a20000;
            animation: transform 300ms linear 1 ;
            &__phone{
                margin-left: 10px;
                width:100%;
                height: 35px;
                border-radius: 3px;
                height: 35px;
                background-color: #f9000029;
                border: 1px solid #570000;
                animation: transform 300ms linear 1 ;
            }
        }
    }
    .phone{
        margin-top: 10px;
        display: flex;
        align-items: center;
        .dropdown{
            height: 40px;
            border: 1px solid rgb(56, 56, 56);
            border-radius: 3px;
            cursor: pointer;
        }
    }
    h5 {
        margin: 0px;
        margin-top: 8px;
    }
    ul {
        color: red;
        .accepted {
            color: green;
        }
    }
}
@keyframes transform {
    0% {transform: translateX(3px)}
    25% {transform: translateX(-3px)}
    50% {transform: translateX(3px)}
    75% {transform: translateX(-3px)}
    100% {transform: translateX(0px)}
}